@import "../../responsive.scss";

.listview{
  height: 10vh;
  width: 100;
  display: flex;
  margin:0 2% 0 2%;

  .img{
    display: none;
  }
  
  .price {
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(254, 205, 81, 0.438);
    width: max-content;
  }

  img{
    height: 20px;
    width: 20px;
  }

  .features {
    display: flex;
    gap: 20px;
    font-size: 14px;

    .feature {
      display: flex;
      align-items: center;
      gap: 5px;
      background-color: whitesmoke;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .icons {
    display: flex;
    gap: 20px;

    .icon {
      border: 1px solid #999;
      padding: 2px 5px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: lightgray;
      }
    }
  }



  .textContainer {
      flex: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
  
      img {
        width: 16px;
        height: 16px;
      }
  
      .title {
        font-size: 20px;
        font-weight: 600;
        color: #444;
        transition: all 0.4s ease;
  
        &:hover {
          color: #000;
          scale: 1.01;
        }
      }
    }


}

.gridview {
  // display: flex;
  // flex-direction: column;
  // gap: 20px;
  // width: 33.33%;
  // height:40vh;
  // min-height:35vh;
  // width: 18vw;
  

  .price {
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(254, 205, 81, 0.438);
    width: max-content;
  }

}
