@import "../../responsive.scss";

.listPage {
  display: flex;
  flex-direction: column;
  height: 100%;

  .listContainer {
    flex: 3;
    height:80vh;
    width: 100%;

    .wrapper{
      margin-top: -4vh;
      height: 100%;
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      overflow-y: scroll;
      // padding-bottom: 50px;
    }
  }
  .mapContainer {
    // flex: 2;
    // height: 80vh;
    // width: 100%;
    // @include md{
    //   display: none;
    // }
  }
}


